Web References/Submit/Submit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SubmitSample">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file_content" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="file_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSampleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitSampleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getuserinfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="upload" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="download" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetuserinfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetuserinfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSampleList">
        <s:complexType />
      </s:element>
      <s:element name="GetSampleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSampleListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMD5List">
        <s:complexType />
      </s:element>
      <s:element name="GetMD5ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMD5ListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserGUIDResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getfiletype">
        <s:complexType />
      </s:element>
      <s:element name="GetfiletypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetfiletypeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAllReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAllReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAllReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadSample">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filetype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadSampleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadSampleResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formatype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="guid" type="s1:guid" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitSampleSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSample" />
  </wsdl:message>
  <wsdl:message name="SubmitSampleSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSampleResponse" />
  </wsdl:message>
  <wsdl:message name="GetuserinfoSoapIn">
    <wsdl:part name="parameters" element="tns:Getuserinfo" />
  </wsdl:message>
  <wsdl:message name="GetuserinfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetuserinfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSampleListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSampleList" />
  </wsdl:message>
  <wsdl:message name="GetSampleListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSampleListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMD5ListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMD5List" />
  </wsdl:message>
  <wsdl:message name="GetMD5ListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMD5ListResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGUIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGUID" />
  </wsdl:message>
  <wsdl:message name="GetUserGUIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetfiletypeSoapIn">
    <wsdl:part name="parameters" element="tns:Getfiletype" />
  </wsdl:message>
  <wsdl:message name="GetfiletypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetfiletypeResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAllReportSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAllReport" />
  </wsdl:message>
  <wsdl:message name="DownloadAllReportSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAllReportResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadSampleSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadSample" />
  </wsdl:message>
  <wsdl:message name="DownloadSampleSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadSampleResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadReportSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadReport" />
  </wsdl:message>
  <wsdl:message name="DownloadReportSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetuserinfoHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="comname" type="s:string" />
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="app" type="s:string" />
    <wsdl:part name="upload" type="s:string" />
    <wsdl:part name="download" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetuserinfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSampleListHttpGetIn" />
  <wsdl:message name="GetSampleListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetMD5ListHttpGetIn" />
  <wsdl:message name="GetMD5ListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserGUIDHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGUIDHttpGetOut">
    <wsdl:part name="Body" element="tns:guid" />
  </wsdl:message>
  <wsdl:message name="GetfiletypeHttpGetIn" />
  <wsdl:message name="GetfiletypeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="DownloadAllReportHttpGetIn">
    <wsdl:part name="FName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadAllReportHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadSampleHttpGetIn">
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="filetype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadSampleHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadReportHttpGetIn">
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="formatype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadReportHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetuserinfoHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="comname" type="s:string" />
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="app" type="s:string" />
    <wsdl:part name="upload" type="s:string" />
    <wsdl:part name="download" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetuserinfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSampleListHttpPostIn" />
  <wsdl:message name="GetSampleListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetMD5ListHttpPostIn" />
  <wsdl:message name="GetMD5ListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserGUIDHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGUIDHttpPostOut">
    <wsdl:part name="Body" element="tns:guid" />
  </wsdl:message>
  <wsdl:message name="GetfiletypeHttpPostIn" />
  <wsdl:message name="GetfiletypeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="DownloadAllReportHttpPostIn">
    <wsdl:part name="FName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadAllReportHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadSampleHttpPostIn">
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="filetype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadSampleHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DownloadReportHttpPostIn">
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="formatype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadReportHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="SubmitSoap">
    <wsdl:operation name="SubmitSample">
      <wsdl:input message="tns:SubmitSampleSoapIn" />
      <wsdl:output message="tns:SubmitSampleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getuserinfo">
      <wsdl:input message="tns:GetuserinfoSoapIn" />
      <wsdl:output message="tns:GetuserinfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <wsdl:input message="tns:GetSampleListSoapIn" />
      <wsdl:output message="tns:GetSampleListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <wsdl:input message="tns:GetMD5ListSoapIn" />
      <wsdl:output message="tns:GetMD5ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <wsdl:input message="tns:GetUserGUIDSoapIn" />
      <wsdl:output message="tns:GetUserGUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <wsdl:input message="tns:GetfiletypeSoapIn" />
      <wsdl:output message="tns:GetfiletypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <wsdl:input message="tns:DownloadAllReportSoapIn" />
      <wsdl:output message="tns:DownloadAllReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <wsdl:input message="tns:DownloadSampleSoapIn" />
      <wsdl:output message="tns:DownloadSampleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <wsdl:input message="tns:DownloadReportSoapIn" />
      <wsdl:output message="tns:DownloadReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SubmitHttpGet">
    <wsdl:operation name="Getuserinfo">
      <wsdl:input message="tns:GetuserinfoHttpGetIn" />
      <wsdl:output message="tns:GetuserinfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <wsdl:input message="tns:GetSampleListHttpGetIn" />
      <wsdl:output message="tns:GetSampleListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <wsdl:input message="tns:GetMD5ListHttpGetIn" />
      <wsdl:output message="tns:GetMD5ListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpGetIn" />
      <wsdl:output message="tns:AuthenticateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <wsdl:input message="tns:GetUserGUIDHttpGetIn" />
      <wsdl:output message="tns:GetUserGUIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <wsdl:input message="tns:GetfiletypeHttpGetIn" />
      <wsdl:output message="tns:GetfiletypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <wsdl:input message="tns:DownloadAllReportHttpGetIn" />
      <wsdl:output message="tns:DownloadAllReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <wsdl:input message="tns:DownloadSampleHttpGetIn" />
      <wsdl:output message="tns:DownloadSampleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <wsdl:input message="tns:DownloadReportHttpGetIn" />
      <wsdl:output message="tns:DownloadReportHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SubmitHttpPost">
    <wsdl:operation name="Getuserinfo">
      <wsdl:input message="tns:GetuserinfoHttpPostIn" />
      <wsdl:output message="tns:GetuserinfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <wsdl:input message="tns:GetSampleListHttpPostIn" />
      <wsdl:output message="tns:GetSampleListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <wsdl:input message="tns:GetMD5ListHttpPostIn" />
      <wsdl:output message="tns:GetMD5ListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpPostIn" />
      <wsdl:output message="tns:AuthenticateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <wsdl:input message="tns:GetUserGUIDHttpPostIn" />
      <wsdl:output message="tns:GetUserGUIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <wsdl:input message="tns:GetfiletypeHttpPostIn" />
      <wsdl:output message="tns:GetfiletypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <wsdl:input message="tns:DownloadAllReportHttpPostIn" />
      <wsdl:output message="tns:DownloadAllReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <wsdl:input message="tns:DownloadSampleHttpPostIn" />
      <wsdl:output message="tns:DownloadSampleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <wsdl:input message="tns:DownloadReportHttpPostIn" />
      <wsdl:output message="tns:DownloadReportHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmitSoap" type="tns:SubmitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitSample">
      <soap:operation soapAction="http://tempuri.org/SubmitSample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getuserinfo">
      <soap:operation soapAction="http://tempuri.org/Getuserinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <soap:operation soapAction="http://tempuri.org/GetSampleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <soap:operation soapAction="http://tempuri.org/GetMD5List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <soap:operation soapAction="http://tempuri.org/GetUserGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <soap:operation soapAction="http://tempuri.org/Getfiletype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <soap:operation soapAction="http://tempuri.org/DownloadAllReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <soap:operation soapAction="http://tempuri.org/DownloadSample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <soap:operation soapAction="http://tempuri.org/DownloadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmitSoap12" type="tns:SubmitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitSample">
      <soap12:operation soapAction="http://tempuri.org/SubmitSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getuserinfo">
      <soap12:operation soapAction="http://tempuri.org/Getuserinfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <soap12:operation soapAction="http://tempuri.org/GetSampleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <soap12:operation soapAction="http://tempuri.org/GetMD5List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <soap12:operation soapAction="http://tempuri.org/GetUserGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <soap12:operation soapAction="http://tempuri.org/Getfiletype" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <soap12:operation soapAction="http://tempuri.org/DownloadAllReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <soap12:operation soapAction="http://tempuri.org/DownloadSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <soap12:operation soapAction="http://tempuri.org/DownloadReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmitHttpGet" type="tns:SubmitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Getuserinfo">
      <http:operation location="/Getuserinfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <http:operation location="/GetSampleList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <http:operation location="/GetMD5List" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <http:operation location="/GetUserGUID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <http:operation location="/Getfiletype" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <http:operation location="/DownloadAllReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <http:operation location="/DownloadSample" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <http:operation location="/DownloadReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmitHttpPost" type="tns:SubmitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Getuserinfo">
      <http:operation location="/Getuserinfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampleList">
      <http:operation location="/GetSampleList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMD5List">
      <http:operation location="/GetMD5List" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGUID">
      <http:operation location="/GetUserGUID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getfiletype">
      <http:operation location="/Getfiletype" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAllReport">
      <http:operation location="/DownloadAllReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadSample">
      <http:operation location="/DownloadSample" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <http:operation location="/DownloadReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Submit">
    <wsdl:port name="SubmitSoap" binding="tns:SubmitSoap">
      <soap:address location="http://www.malwarefypj.com/webservice/Submit.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmitSoap12" binding="tns:SubmitSoap12">
      <soap12:address location="http://www.malwarefypj.com/webservice/Submit.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmitHttpGet" binding="tns:SubmitHttpGet">
      <http:address location="http://www.malwarefypj.com/webservice/Submit.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmitHttpPost" binding="tns:SubmitHttpPost">
      <http:address location="http://www.malwarefypj.com/webservice/Submit.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>